* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100% !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(169, 157, 87, 0.5)),
    url("https://th.bing.com/th/id/R.02576c2e9bc04a6d635ce7bf350fd6a4?rik=WBPqsDiPZ4nNRw&pid=ImgRaw&r=0")
      no-repeat center center fixed;
  background-size: cover;
  flex-grow: 1;
}
